@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/* =================================================================
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
color principal. #fa573a
color secundario: #21242e
*/

:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: font-family: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1em;
    --margingrid: 1em;
    --anchomaximo: 1100px;
}

* {
    box-sizing: border-box;
}

html {
    /* para generar animaciones de puntos ancla */
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

/* inicio header */

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 20px 10px;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a span {
    display: none;
    color: white;
}

header .nav-top a i {
    font-size: 140%;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

/* final header */

@media(min-width: 768px) {
    
}