@import url(reset.css);
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: whitesmoke;
}

/* todas las imagenes deberian adaptar al 100% de su contenedor, mantiendo al altura auto para deformarse*/

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1004px;
    margin: 0 auto;
}

/* inicio header */

header {
    padding: 1em;
    box-shadow: 0px 1px 10px #444;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
    margin: 7px 5px;
}

header nav li a {
    text-decoration: none;
    color: black;
}

header nav li a:hover {
    text-decoration: underline;
}

/* final header */

/* inicio hero */

.hero {
    background-image: url(../img/fondo.jpeg);
    background-color: #999;
    height: 55vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    /* alinear vertical y horizontalmente un elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.hero h4 {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 20px 0px
}

.hero ul li {
    display: inline-block;
}

.hero li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 80%;
}

.hero li:first-child a {
    background-color: gray;
    border: 1px solid black;
}

.hero li:last-child a {
    background-color: transparent;
    border: 1px solid white;
}

/* final hero */

/* inicio main */

main section h2 {
    display: none;
}

main section.container {
    background-color: white;
    padding: 30px;
    border-top: 5px solid yellow;
    margin-top: -50px;
    margin-bottom: 20px;
}

main section div {
    display: flex;
}

main section article h3 {
    margin-bottom: 10px;
}

main section article h3 span {
    color: teal;
}

/* final main */

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

@media(max-width:1004px) {
    main section.container {
        margin-top: 0px;
    }
}

@media(max-width:590px) {
    .hero h1 {
        font-size: 2em;
    }
    header .container {
        flex-direction: column;
    }
    header .logo {
        max-width: 150px;
    }
    header nav li {
        display: block;
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }
    header nav li:last-child {
        border-bottom: 0px;
    }
    main section div {
        flex-direction: column;
    }
}